
.hmenu{
    display: flex;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
}
.hmenu ul{
    margin: 0 auto 0 auto;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    list-style: none;
}
.hmenu ul>li{
    float: left;
    display: table-cell;
    margin: 0;
    padding: 0;
    padding: 10px 25px 10px 25px;
    border: none;
    list-style-type: none;
}
.hmenu ul>li:hover{
    background-color: #333333;
}
.hmenu ul>li:hover a{
    color: white;
}
.hmenu ul>li a{
    text-decoration: none;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5;
    padding: 2px auto 2px auto;
}
.hmenu .row{
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    margin-bottom: 0px;
}
.category>li{
    float: left;
    display: table-cell;
    margin: 0;
    padding: 0;
    padding: 10px 25px 10px 25px;
    border: none;
    list-style-type: none;
}
.subcategory>li{
    margin-left: -70px;
    padding: 10px 25px 10px 25px;
    border: none;
    list-style-type: none;

}
.row ul li:hover .popup{
    display: flex;
}
.popup{
    display: none;
    width: 100%;
    height: auto;
    background: #262626;
    opacity: 0.99;
    border: 1px solid #000000;
    color: #eee;
    position: absolute;
    left: 0;
    padding: 40 0;
    margin-top: 10px;
}
